* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 1000vh;
}

/* header */
#header {
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    width: 100%;
    height: 480px;
    background: url('./img/cw12_mainbanner_logitech-workplace-de.jpg') no-repeat left center;
}

#nav {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    margin-left: 4px;
    float: left;
}

#nav .nav li {
    display: inline;
}

.nav li a {
    padding: 0 24px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 15px;
}

.nav li:hover a {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}


#header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 80px;
}

#header h3 {
    font-size: 40px;
    color: #fff;
}

#header button {
    width: 290px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #2f3132;
    letter-spacing: 3px;
    border: 1px solid #fff;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

#header button:hover {

    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;

}

.shopping_cart {
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.shopping_cart a {
    color: #fff;
    text-decoration: none;
}

.shopping_cart .cart {
    padding: 0 13px;
    line-height: 35px;
    font-weight: bold;
}

.shopping_cart .cart:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

.loginbutton {
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: px;
}

.loginbutton a {
    color: black;
    text-decoration: none;

}

.loginbutton .login {
    float: right;
    padding: 0 13px;
    line-height: 35px;
    font-weight: bold;
}

.loginbutton .login:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

/* header */
/* Body */
#body {
    width: 100%;
    height: 500vh;
}

#present {

    margin-top: 5px;
    height: 70vh;
    width: 100%;
    display: flex;
}

#present .present1,
#present .present2,
#present .present3 {
    margin: 0 10px;
    width: 100%;
    height: 90%;
    line-height: 20px;
}

#present .image {
    width: 100%;
    height: 90%;
    opacity: 1;
    transition: 0.2s ease-in;
}

#present .present1:hover .image,
#present .present2:hover .image,
#present .present3:hover .image {
    opacity: 0.9;
}






#present .present1 .image {
    background: url('./img/combos-og-image.jpg') no-repeat right center;
    background-size: 100%;
}

#present .present2 .image {
    background: url('./img/images.jpg') no-repeat center center;
    background-size: 119%;
}

#present .present3 .image {
    background: url('./img/logitech-zone-vibe-100-a4.jpg') no-repeat center center;
    background-size: 112%;
}


#present h4 a {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: #2f3132;
    text-decoration: none;
}

#present h4:hover a {
    text-decoration: underline;
}

#present h6 {
    margin: 5px 0px;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
}

#present .link a {
    font-family: 'Lexend Deca', sans-serif;
    color: #2F3132;
    text-decoration: none;
}

#present .link:hover a {
    text-decoration: underline;
}

.grid-container {
    margin: 0 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 500px 500px 355px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 15px;

}

.grid-container .grid-item {
    background-color: #f5f5f4;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1/span 2;

}

.item2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
}

.item5 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}

.item4 {
    grid-row: 2 / span 3;
}

.grid-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .item1 img {
    margin-top: 10px;
    width: 55%;
    transition: 0.5s;
}

.item1:hover img{
    transform: scale(1.2);
}



/* Body */