* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 8px;


}

html::-webkit-scrollbar-track {

    background-color: #8f8c8c8b;

}

html::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #6a5af9, #6e8dfd);
    border-radius: 50px;
}

#main {
    width: 100%;
    height: 350vh;
    font-family: 'Lexend Deca', sans-serif;
}

/* header */
#header {
    position: relative;
    width: 100%;
    height: 480px;
    background: url('./img/cw12_mainbanner_logitech-workplace-de.jpg') no-repeat left center;
}

#nav {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    margin-left: 4px;
    float: left;
}

#nav .nav li {
    display: inline;
}

.nav li a {
    padding: 0 24px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 15px;
}

.nav li:hover a {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}


#header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 80px;
}

#header h3 {
    font-size: 40px;
    color: #fff;
}

#header .button {
    width: 290px;
    height: 50px;
    font-size: 20px;
    background-color: #FFF;
    font-weight: bolder;
    color: #2f3132;
    letter-spacing: 3px;
    border: 1px solid #fff;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

#header button:hover {

    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;

}

.shopping_cart {
    float: right;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

.shopping_cart #cart {
    color: #fff;
    text-decoration: none;
    padding: 0 13px;
    font-weight: bold;
    line-height: 35px;
}

.shopping_cart #cart:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}


.loginbutton {
    float: right;
    font-size: 25px;
    margin-top: 10px;
}

.loginbutton a {
    color: whitesmoke;
    text-decoration: none;

}

.loginbutton .login {
    float: right;
    padding: 0 13px;
    line-height: 35px;
    font-weight: bold;
}

.loginbutton .login:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

/* header */
/* Body */
#body {
    width: 100%;
}

#present {
    margin-top: 5px;
    height: 70vh;
    width: 100%;
    display: flex;
}

#present .present1,
#present .present2,
#present .present3 {
    margin: 0 10px;
    width: 100%;
    height: 90%;
    line-height: 20px;

}

#present .image {
    width: 100%;
    height: 90%;
}







#present .present1 .image {
    background: url('./img/combos-og-image.jpg') no-repeat right center;
    background-size: 100%;
}

#present .present2 .image {
    background: url('./img/images.jpg') no-repeat center center;
    background-size: 119%;
}

#present .present3 .image {
    background: url('./img/logitech-zone-vibe-100-a4.jpg') no-repeat center center;
    background-size: 112%;
}


#present h4 a {
    font-size: 20px;
    color: #2f3132;
    text-decoration: none;
}

#present h4:hover a {
    text-decoration: underline;
}

#present h6 {
    margin: 5px 0px;
    font-size: 14px;
    font-weight: 200;
}

#present .link a {
    color: #2F3132;
    text-decoration: none;
}

#present .link:hover a {
    text-decoration: underline;
}

/* grid */
.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 500px 500px 365px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 15px;

}

.grid-container .grid-item {
    background-color: #f5f5f4;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1/span 2;
    position: relative;

}

.item2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    overflow: hidden;
    position: relative;
}

.item3 {
    position: relative;
    overflow: hidden;
}

.item5 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    position: relative;
    overflow: hidden;
}

.item4 {
    grid-row: 2 / span 3;
    position: relative;
}

.grid-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .item1 img {
    margin-top: 10px;
    width: 60%;
    transition: 0.3s;
}

.item1:hover img {
    transform: scale(1.1);
}




.item1 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}

.item1:hover .push {
    display: block;
}

.item1 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item1 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item1 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item1 .push .eye:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item1 .push .plus:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item1 .best {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 10px;
    background-color: rgb(217, 244, 239);
}

.item2 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}

.item2:hover .push {
    display: block;
}

.item2 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item2 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item2 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item2 .push .eye:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item2 .push .plus:hover {
    border-radius: 100px;
    background-color: #fff;
}


.item3 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}

.item3:hover .push {
    display: block;
}

.item3 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item3 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item3 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item3 .push .eye:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item3 .push .plus:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item4 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}

.item4:hover .push {
    display: block;
}

.item4 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item4 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item4 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item4 .push .eye:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item4 .push .plus:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item5 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}

.item5:hover .push {
    display: block;
}

.item5 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item5 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item5 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item5 .push .eye:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item5 .push .plus:hover {
    border-radius: 100px;
    background-color: #fff;
}

.item2 .card {
    position: absolute;
    bottom: 110px;
    transition: 0.3s;
}

.item2:hover .card {
    transform: scale(1.1);
}

.item2 h3 {
    position: absolute;
    bottom: 30px;
    left: 158px;
}

.item3 img {
    margin-top: 250px;
    transition: 0.3s;
}

.item3:hover img {
    transform: scale(1.1);
}

.item3 h3 {
    position: absolute;
    top: 50px;
    left: 93px;
}

.item4 .card {
    position: absolute;
    top: 20px;
    transform: scale(0.7);
    transition: 0.3s;
}

.item4:hover .card {
    transform: scale(0.9);
}

.item4 h3 {
    position: absolute;
    bottom: 40px;
    left: 69px;
}

.item5 .card {
    position: absolute;
    bottom: 50px;
    transition: 0.3s;
}

.item5:hover .card {
    transform: scale(1.1);
}

.item5 h3 {
    position: absolute;
    bottom: 30px;
    left: 163px;
}


/* grid */
/* slideshow */
#slideshow {
    margin-top: 70px;
    width: 100%;
    height: 80vh;
    display: flex;
}

.slideshow {
    width: 90%;
    height: 80vh;
    background: url('./img/environment-og-image.png') no-repeat center center;
    background-size: 95%;
    position: relative;
}

.slideshow .icon {
    color: #fff;
    font-size: 140px;
    font-weight: bolder;
    position: absolute;
    top: 100px;
    right: 300px;

}

.slideshow h4 {
    position: absolute;
    right: 150px;
    top: 250px;
    color: #fff;
    font-size: 30px;
}

.slideshow .title {
    position: absolute;
    right: 237px;
    top: 300px;
    color: #fff;
    font-weight: 300;

}

.slideshow button {
    position: absolute;
    right: 237px;
    bottom: 200px;
    width: 250px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    color: #2f3132;
    border: 1px solid #fff;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    text-transform: uppercase;
}

.slideshow button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;

}

.bignextright,
.bignextleft {
    font-size: 50px;
    width: 80px;
    height: 100%;
    background-color: #979b9b;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#slideshow .bignextleft:hover,
#slideshow .bignextright:hover {
    opacity: 0.7;
    font-size: 70px;
    color: #FFF;
}

.dotcontain {
    position: absolute;
    width: 100%;
}

.dotcontain .posi {
    width: 100%;
    height: 100%;
    position: relative;
}

.dotcontain ul {
    position: absolute;
    top: 575px;
    left: 600px;
    display: flex;
    justify-content: center;
}

.dotcontain li {
    width: 100%;
    height: 50px;
    top: 30px;
    right: 60px;
    list-style: none;
    width: 11px;
    height: 11px;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
    display: inline-block;
    border-radius: 100px;
}

.dotcontain .dot1 {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);

}

/* slideshow */
/* footer */
#footer {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #262a2c;
}

#footer .box {
    width: 100%;
    height: 40vh;
    display: flex;
}

#footer .gioithieu {

    margin: 0 100px;
}

#footer h2 {
    margin-top: 100px;
    color: #fff;
    font-size: 15px;
}

#footer li {
    list-style: none;
    padding: 15px 0px;
}

#footer a {

    font-weight: 100;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

#footer a:hover {
    text-decoration: #c4c6c8 underline;

}

#footer .line {
    position: absolute;
    top: 470px;
    left: 100px;
    width: 86%;
    height: 1px;
    background-color: #c4c6c8;
}

.social {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 10vh;

}

.social img {
    margin-left: 100px;
    margin-top: 10px;
    width: 100px;
}

.social h6 {
    position: absolute;
    top: 21px;
    left: 220px;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
}

.social .network {
    display: flex;
    float: right;
    margin-right: 80px;

}

.social .network a {
    padding: 0 15px;
}

.social .network i {
    color: #979b9b;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.social .network i:hover {
    color: #fff;
    font-size: 30px;
}

/* footer */
/* Body */

/* minipage */

#puschair {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.284);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;

}

/* .fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    overflow: hidden;
} */

#puschair #box {
    width: 30%;
    height: 100vh;
    background-color: #f4f4f4;
    float: right;
    position: relative;
}

#puschair #box img {
    margin-left: 40%;
}

#puschair #sanpham {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.logo i {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    transition-delay: 0.2s;
    cursor: pointer;

}

.logo i:hover {
    transform: rotate(180deg);
    font-size: 25px;
}

#puschair .total {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

#puschair .total #money {
    width: 80%;
    height: 100px;
    font-size: 20px;
    line-height: 100px;
    padding-left: 12px;
    word-spacing: 1px;
    position: relative;
}

.total #money h1 {
    position: absolute;
    top: 0px;
    left: 45%;

}
.total #money h5{
    position: absolute;
    bottom :40px;
    z-index: 2;
    font-weight: 300;
}
.total #money h4{
    position: absolute;
    bottom :40px;
    z-index: 12;
    left: 150px;
    font-weight: 500;
}

.total #button {
    position: absolute;
    width: 100%;
    height: 15vh;
    bottom: 0;
    display: flex;

    justify-content: center;
}

.total #button button {
    width: 145px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    padding: 0 1px;
    margin: 0 24px;
}

.total #button .giamgia {
    border-radius: 2px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.total #button .giamgia:hover {
    background-color: black;
    color: #fff;
    font-size: 17px;
}

.total #button .mua {
    border-radius: 2px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.total #button .mua:hover {
    background-color: black;
    color: #fff;
    font-size: 17px;
}

/* san pham */
#sanpham {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* minipage */