* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 1000vh;
}

/* header */
#header {
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    width: 100%;
    height: 480px;
    background: url('./img/cw12_mainbanner_logitech-workplace-de.jpg') no-repeat left center;
}

#nav {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    margin-left: 4px;
    float: left;
}

#nav .nav li {
    display: inline;
}

.nav li a {
    padding: 0 24px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 15px;
}

.nav li:hover a {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}


#header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 80px;
}

#header h3 {
    font-size: 40px;
    color: #fff;
}

#header button {
    width: 290px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #2f3132;
    letter-spacing: 3px;
    border: 1px solid #fff;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}

#header button:hover {

    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;

}

.shopping_cart {
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 25px;
}

.shopping_cart a {
    color: #fff;
    text-decoration: none;
}

.shopping_cart .cart {
    padding: 0 13px;
    line-height: 35px;
    font-weight: bold;
}

.shopping_cart .cart:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

/* header */
/* Body */
#body {
    width: 100%;
    height: 500vh;
}

#present {
    margin-top: 70px;
    height: 70vh;
    width: 100%;
    background-color: aqua;
    display: flex;
}

#present .present1,
#present .present2,
#present .present3 {
    margin: 0 10px;
    width: 100%;
    height: 80%;
    background-color: bisque;
}

#present .present1 .image,
#present .present2 .image,
#present .present3 .image {
    margin-top: 30px;
    width: 100%;
    height: 80%;
    background-color: black;
}
#present .present1 .image{
    background: url('./img/combos-og-image.jpg') no-repeat right center;
    background-size:100%;
}
#present .present2 .image{
    background: url('./img/images.jpg') no-repeat center center;
    background-size:110%;
}
#present .present3 .image{
    background: url('./img/logitech-zone-vibe-100-a4.jpg') no-repeat bottom center;
    background-size:120%;
}
/* Body */