* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 1000vh;
    font-family: 'Lexend Deca', sans-serif;
}

/* header */
#header {
    position: relative;
    width: 100%;
    height: 480px;
    background: url('./img/cw12_mainbanner_logitech-workplace-de.jpg') no-repeat left center;
}

#nav {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    margin-left: 4px;
    float: left;
}

#nav .nav li {
    display: inline;
}

.nav li a {
    padding: 0 24px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 15px;
}

.nav li:hover a {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}


#header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 80px;
}

#header h3 {
    font-size: 40px;
    color: #fff;
}

#header button {
    width: 290px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: #2f3132;
    letter-spacing: 3px;
    border: 1px solid #fff;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

#header button:hover {

    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;

}

.shopping_cart {
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.shopping_cart a {
    color: #fff;
    text-decoration: none;
}

.shopping_cart .cart {
    padding: 0 13px;
    line-height: 35px;
    font-weight: bold;
}

.shopping_cart .cart:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

.loginbutton {
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: px;
}

.loginbutton a {
    color: black;
    text-decoration: none;

}

.loginbutton .login {
    float: right;
    padding: 0 13px;
    line-height: 35px;
    font-weight: bold;
}

.loginbutton .login:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

/* header */
/* Body */
#body {
    width: 100%;
    height: 500vh;
}

#present {

    margin-top: 5px;
    height: 70vh;
    width: 100%;
    display: flex;
}

#present .present1,
#present .present2,
#present .present3 {
    margin: 0 10px;
    width: 100%;
    height: 90%;
    line-height: 20px;

}

#present .image {
    width: 100%;
    height: 90%;
}







#present .present1 .image {
    background: url('./img/combos-og-image.jpg') no-repeat right center;
    background-size: 100%;
}

#present .present2 .image {
    background: url('./img/images.jpg') no-repeat center center;
    background-size: 119%;
}

#present .present3 .image {
    background: url('./img/logitech-zone-vibe-100-a4.jpg') no-repeat center center;
    background-size: 112%;
}


#present h4 a {
    font-size: 20px;
    color: #2f3132;
    text-decoration: none;
}

#present h4:hover a {
    text-decoration: underline;
}

#present h6 {
    margin: 5px 0px;
    font-size: 14px;
    font-weight: 200;
}

#present .link a {
    color: #2F3132;
    text-decoration: none;
}

#present .link:hover a {
    text-decoration: underline;
}

/* grid */
.grid-container {
    margin: 0 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 500px 500px 355px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 15px;

}

.grid-container .grid-item {
    background-color: #f5f5f4;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1/span 2;
    position: relative;

}

.item2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    overflow: hidden;
    position: relative;
}
.item3 {
    position: relative;
    overflow: hidden;
}

.item5 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    position: relative;
    overflow: hidden;
}

.item4 {
    grid-row: 2 / span 3;
    position: relative;
}

.grid-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .item1 img {
    margin-top: 10px;
    width: 60%;
    transition: 0.3s;
}

.item1:hover img {
    transform: scale(1.1);
}




.item1 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}
.item1:hover .push{
    display: block;
}

.item1 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item1 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item1 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item1 .push .eye:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item1 .push .plus:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item1 .best{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 50px;
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border-bottom-right-radius: 100px ;
    border-top-right-radius: 10px ;
     background-color:rgb(217, 244, 239) ;
}

.item2 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}
.item2:hover .push{
    display: block;
}

.item2 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item2 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item2 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item2 .push .eye:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item2 .push .plus:hover {
    border-radius: 100px    ;
    background-color: #fff;
}


.item3 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}
.item3:hover .push{
   display: block;
}

.item3 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item3 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item3 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item3 .push .eye:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item3 .push .plus:hover {
    border-radius: 100px    ;
    background-color: #fff;
}
.item4 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}
.item4:hover .push{
    display: block;
}

.item4 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item4 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item4 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item4 .push .eye:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item4 .push .plus:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item5 .push {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 20px;

}
.item5:hover .push{
    display: block;
}

.item5 .push a {
    text-decoration: none;
    color: #2F3132;
    height: 30px;
}

.item5 .push .eye {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item5 .push .plus {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}

.item5 .push .eye:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item5 .push .plus:hover {
    border-radius: 100px    ;
    background-color: #fff;
}

.item2 .card{
    position: absolute;
    bottom: 110px;
    transition: 0.3s;
}
.item2:hover .card{
    transform: scale(1.1);
}
.item2 h3{
    position: absolute;
    bottom: 30px;
    left: 158px;
}

.item3 img{
    margin-top: 250px;
    transition: 0.3s;
}
.item3:hover img{
    transform: scale(1.1);
}
.item3 h3{
   position: absolute;
   top: 50px;
   left: 93px;
}
.item4 .card{
    position: absolute;
    top: 20px;
    transition: 0.3s;
}
.item4:hover .card{
    transform: scale(1.1);
}
.item4 h3{
    position: absolute;
    bottom:40px;
    left: 69px;
}

.item5 .card{
    position: absolute;
    bottom: 50px;
    transition: 0.3s;
}
.item5:hover .card{
    transform: scale(1.1);
}
.item5 h3{
    position: absolute;
    bottom: 30px;
    left: 151px;
}


/* grid */


/* Body */