* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}


html {}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2ca2e6, #4fbbf5, #BCE6FF);
}

#main #box {
    width: 600px;
    width: 600px;
    height: 600px;
    height: 600px;
    background-color: #f4f4f4;
    background-color: #f4f4f4;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border-radius: 20px;


}

#main #box img {
    width: 31%;
    width: 31%;
    padding-top: 30px;
    margin-top: 100px;
    margin: 0 35%;
    margin: 0 35%;
}


#main #box h5 {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;


}

/* element */
form .txt_field {
    position: relative;
    margin: 40px 70px;
    border-bottom: 2px solid #adadad;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 1;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #2691d9;
}
.pass {
    float: right;
    margin-right: 60px;
    margin-bottom: 20px;
}
.pass a {
    color: black;

}
.pass a:hover{
    opacity: 0.5;
}
.input{
    width: 75%;
    height: 50px;
    margin: 0 80px;
    font-size: 17px;
    border:2px solid #2f3132;
    background-color: #2f3132;
    color: #fff;
    transition: 0.2s;
}
.input:hover{
    background: none;
    color: #2f3132;
}

.signup_link{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.signup_link a {
    color: black;

}
.signup_link a:hover{
    opacity: 0.5;
}

/* element */