* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#present5main {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.278);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#present5main #box {
    width: 70%;
    height: 80vh;
    background-color: #f4f4f4;
    border-radius: 10px;
    display:flex;
    font-family: 'Lexend Deca',sans-serif;
}

/* close button */
#present5main .close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#present5main .close:hover {
    transform: rotate(180deg);
}

/* close button */


/* img */

#present5main .image {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#present5main .bigimg {
    margin-top: 20px;
    width: 80%;
    height: 70%;
    background: url('../../img/ggt-1.png') no-repeat center center;
    background-size: 100%;
    border-radius: 5px;
}

#present5main .grid-img {
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 80%;
    height: 20vh;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 100px;
    grid-gap: 20px;

}

#present5main .grid-img div {
    border-radius: 3px;
    margin-top: 15px;
}

#present5main .grid-img .img1 {
    background: url('../../img/9481_pop_keys_gallery_blast_4.png') no-repeat center center;
    background-size: 90%;
    transition: 0.3s;

}

#present5main .grid-img .img1:hover {
    background-size: 100%;
}

#present5main .grid-img .img2 {
    background: url('../../img/ban-phim-khong-day-logitech-pop-keys-longbinh.com.vn7.png') no-repeat center center;
    background-size: 90%;
    transition: 0.3s;
}

#present5main .grid-img .img2:hover {
    background-size: 100%;
}

#present5main .grid-img .img3 {
    background: url('../../img/08496126__3__9799524b7b7e448795bca6d859585ab4_d2c0eb828660421183b6b5553d980ff9_master.png') no-repeat center center;
    background-size: 80%;
    transition: 0.3s;
}

#present5main .grid-img .img3:hover {
    background-size: 90%;
}

#present5main .grid-img .img4 {
    background: url('../../img/pop-keys-gallery-daydream-6.png') no-repeat center center;
    background-size: 70%;
    transition: 0.3s;
}

#present5main .grid-img .img4:hover {
    background-size: 80%;
}

/* img */

/* Text */
#present5main .text{
    margin-left:40px;
    width: 35%;
    height: 100%;
}
#present5main .text h4{
    margin-top: 40px;
    margin-bottom: 20px ;
}
#present5main .text h5{
    font-weight: 300;
    margin: 24px 0;
}
#present5main .text p{
    margin-top: 10px;
    font-weight: 300;
    margin-right: 20px;
    letter-spacing: -3;
    line-height: 22px;
    text-align: justify;
    text-justify: inter-word;
}

#present5main .text .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}
#present5main .text .button button{
    width: 145px;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 1px;
  
}
#present5main .text .button .giohang{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}
#present5main .text .button .giohang:hover,#present5main .text .button .muangay:hover{
    background-color: black;
    color: #fff;
    font-size: 14px;
}

#present5main .text .button .muangay{
    position: absolute;
    right: 20px;
    cursor: pointer;
    border-radius: 2px;
    background:none;
    transition: 0.3s;
}

