* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body{
    height: 280vh;
}
#header {
    position: relative;
    width: 100%;
    height: 480px;
    background: url('./../../img/banner6.jpg') no-repeat left bottom;
    background-color: #2f3132;
}

#nav {
    width: 100%;
    height: 50px;
    border-radius: 3px;
 
    transition: all 0.3s;
}

#nav ul {
    display: block;   background-color: rgb(0, 0, 0) ;
    float: left;
    width: 600px;
    height: 60px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 100px;
    padding-left: 18px;
    padding-top: 13px;
}

#nav .nav li {
    display: inline;

}

.nav li a {
    padding: 0 24px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 15px;
}

.nav li:hover a {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}


#header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 80px;
}

#header h3 {
    font-size:80px;
    color: #50b0ea;
    transition: 0.3s;
}
#header h3:hover{
    font-size: 90px;
}


#header .button {
    width: 290px;
    height: 50px;
    font-size: 20px;
    background-color: #FFF;
    font-weight: bolder;
    color: #2f3132;
    cursor: pointer;
    letter-spacing: 3px;
    border: 1px solid #fff;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

#header button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;

}

.shopping_cart {
    float: right;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


.shopping_cart #cart {
    color: #50b0ea;
    text-decoration: none;
    padding: 0 13px;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
}

.shopping_cart #cart:hover {
    background-color: #fff;
    border-radius: 100px;
    color: #2f3132;
    display: inline-block;

}

.loginbutton {
    float: right;
    font-size: 25px;
    margin-top: 9px;
}

.loginbutton a {
    color: #50b0ea;
    text-decoration: none;
    padding: 6px 13px;
    border-radius: 100px;
    line-height: 35px;
    transition: 0.3s;
}
.loginbutton a:hover{
    background-color: #FFF;
    color: #2f3132;
    font-size: 30px;
}

.loginbutton .login {
    font-weight: bold;
    line-height: 13px;
}
#body{
    height: 100vh;
}

/* end: header */
  
#box-company {
    padding-top:100px;
    width: 100%;
    height: 50vh;
    /* background-color: #50b0ea; */
}   
#box-company h2{
    color: #2f3132;
}   
.title{
    width: 80%;
    height: 50px;
    margin: auto auto;
}
.line {
    margin-top: 30px;
    width: 100%;
    height: 1.5px;
    background-color: #2f3132;
}
.box {
    color:#2f3132 ;
    width: 80%;
    height: 200px;
    margin: 30px auto;
    display: flex;
    gap: 30px;
}
.box .box1 .t,.box .box2 .t{
   line-height: 60px;
}
.box .p{
    line-height: 25px;
    font-weight: 200;
    font-size: 17px;
}
.box2 .box11 .p{
    line-height: 50px;
    font-weight: 300;
}
#footer {
    margin-top: 350px;
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #262a2c;
}

#footer .box {
    width: 100%;
    height: 40vh;
    display: flex;
}

#footer .gioithieu {

    margin: 0 100px;
}

#footer h2 {
    margin-top: 100px;
    color: #fff;
    font-size: 15px;
}

#footer li {
    list-style: none;
    padding: 15px 0px;
}

#footer a {

    font-weight: 100;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

#footer a:hover {
    text-decoration: #c4c6c8 underline;

}

#footer .line {
    position: absolute;
    top: 470px;
    left: 100px;
    width: 86%;
    height: 1px;
    background-color: #c4c6c8;
}

.social {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 10vh;

}

.social img {
    margin-left: 100px;
    margin-top: 10px;
    width: 100px;
}

.social h6 {
    position: absolute;
    top: 21px;
    left: 220px;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
}

.social .network {
    display: flex;
    float: right;
    margin-right: 80px;

}

.social .network a {
    padding: 0 15px;
}

.social .network i {
    color: #979b9b;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.social .network i:hover {
    color: #fff;
    font-size: 30px;
}
